body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}
textarea {
    resize: none;
}
textarea#editor {
    padding: 8px;
    width: 530px;
    HEIGHT: calc(100vh - 16px);
    border: 1px solid #e7e7e7;
    outline: none;
}
.preview {
    padding: 8px;
    background: #f4f4f4;
    width: 530px;
    HEIGHT: calc(100vh - 16px);
}